
  <% if @comments.any? %>
    <div class="each-comment">
      <% @comments.each do |comment| %>
        <p><%= comment.comment %></p>
      <% end %>
    </div>
  <% else %>
    <p>No comments</p>
  <% end %>
  <%= form_for [@trip, activity, @comment] do |f| %>
  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>

  <div class="actions">
    <%= f.submit "Add Comment" %>
  </div>
<% end %>
