
 <% @comments = Comment.where(activity:activity) %>
  <% if @comments.any? %>
    <% @comments.each do |comment| %>
      <div class="each-comment">
        <p><%= comment.user.first_name %> : <%= comment.content %></p>
      </div>
    <% end %>
  <% else %>
    <p class="text-center">No comments</p>
  <% end %>
  <%= simple_form_for [@trip, activity, @comment] do |f| %>
    <div class="field">
      <%= f.input :content, placeholder: "Add comment", label: false %>
      <%= f.button :submit, "Add comment", class:"btn-modal" %>
    </div>
  <% end %>
