<div class="form d-none"
       data-add-activity-target="form"
       data-action="click@window->add-activity#close">
    <h1>Add a new activity</h1>
    <%= simple_form_for [@trip, @activity] do |f| %>
        <%= f.input :location, placeholder: "Location", label: false %>
        <%= f.input :category, placeholder: "Category", label: false %>
        <%= f.input :start_date, as: :string,
                    input_html: { data: { controller: "flatpickr" } } %>
        <%= f.input :end_date, as: :string,
                    input_html: { data: { controller: "flatpickr" } } %>
        <%= f.input :price, as: :float, placeholder: "Price", label: false %>
        <%= f.button :submit, "Add activity" %>
      <% end %>
  </div>
