
 <% @comments = Comment.where(activity:activity) %>
  <% if @comments.any? %>
    <% @comments.each do |comment| %>
      <div class="each-comment">
        <% if @users.any? %>
          <div class="trip-banner-card-users">
            <%# @users.each do |user| %>
              <% if comment.user.image.attached? %>
                <%= cl_image_tag comment.user.image.key%>
              <% else %>
                <% initial = comment.user.first_name.split ("") %>
                <div class="trip-banner-card-users-circle">
                  <span class="trip-banner-card-users-initials"><%= initial[0] %></span>
                </div>
              <% end %>
            <%# end %>
          </div>
        <% end %>
        <p><%= comment.content %></p>
      </div>
    <% end %>
  <% else %>
    <p class="text-center">No comments</p>
  <% end %>
  <%= simple_form_for [@trip, activity, @comment] do |f| %>
    <div class="field">
      <%= f.input :content, placeholder: "Add comment", label: false %>
      <%= f.button :submit, "Add comment", class:"btn-modal" %>
    </div>
  <% end %>
