<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Plan a new trip</h1>
      <h5>Build an itinerary and map out your upcoming travel plans</h5>
    </div>
    <div class="row">
      <%= simple_form_for (@trip) do |f| %>
        <%= f.input :destination, placeholder: "Where to?" %>
        <%= f.input :start_date, as: :string,
                    input_html: { data: { controller: "flatpickr" } } %>
        <%= f.input :end_date, as: :string,
                    input_html: { data: { controller: "flatpickr" } } %>
        <%= f.association :users,
                          as: :check_boxes,
                          input_html: { multiple: true },
                          include_hidden: false,
                          collection: User.all,
                          label_method: :first_name %>
        <%= f.button :submit, "Plan It", class: 'btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
