<div class= "container">
<%# Profile banner %>
  <%= render "profile_banner" %>

  <%# Friends scroll menu %>
  <h2 class="p-2">Friends</h2>
  <%# For each friend %>
  <div class="row">
    <div class="scrollmenu scrollmenu-profile">
      <% @users.each do |user| %>
        <div class="profile-friend-card">
          <% if user.image.attached? %>
            <%= cl_image_tag @user.image.key%>
          <% else %>
            <% initial = user.first_name.split ("") %>
            <div class="circle">
              <span class="initials"><%= initial[0] %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

<%# Upcoming trips scroll menu %>
  <h2 class="p-2">Upcoming trips</h2>
  <div class="row">
    <div class="scrollmenu">
      <% @upcoming_trips.each do |trip| %>
        <a href="<%= trip_path(trip) %>">
          <div class="homecard">
            <div class="innertext">
              <img src="https://source.unsplash.com/random/?<%= trip.destination %>", class="object-fit-cover", alt="<%= trip.destination %>"/>
              <p><%= trip.destination %></p>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>

<%# Documents scroll menu %>
  <h2 class="p-2">Your documents</h2>
  <%# For each document %>
  <div class="row">
    <div class="scrollmenu">
      <% @user.documents.each do |document| %>
        <div class="profile-doc-card">
            <% if document.image? %>
              <%= cl_image_tag document.key %>
            <% else%>
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/640px-PDF_file_icon.svg.png" alt="PDF_File">
              <%#<p><%= document.filename.to_s</p> %>
            <% end %>

        </div>
      <% end %>
    </div>
  </div>
  <%# Add document form %>
  <%= simple_form_for(@user, url: profile_path, method: :patch) do |f| %>
    <%= f.input :documents, as: :file, input_html: {multiple: true}, label: "Add document" %>
    <%= f.button :submit, "Add document", class: 'btn-primary' %>
  <% end %>

<%# Previous trips scrolling bar %>
  <h2 class="p-2">Previous trips</h2>
  <%# For each trip %>

  <%# Log out %>
  <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, style: "color:#800059",  class: "p-2"%>
</div>

<%= render "navbarhome" %>
