<div class= "container">
<%# Profile banner %>
  <%= render "profile_banner" %>

  <%# Friends scroll menu %>
  <h2>Friends</h2>
  <%# For each friend %>
  <div class="row">
    <div class="scrollmenu">
      <% @users.each do |user| %>
        <div class="profile-friend-card">
          <% if user.image.attached? %>
            <%= cl_image_tag @user.image.key%>
          <% else %>
            <% initial = user.first_name.split ("") %>
            <div class="circle">
              <span class="initials"><%= initial[0] %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

<%# Upcoming trips scroll menu %>
  <h2>Upcoming trips</h2>
  <%# For each trip %>
  <div class="row">
    <div class="scrollmenu">
      <% @trips.each do |trip| %>
        <div class="profile-trip-card">
          <img src="https://source.unsplash.com/random/?travel", class="object-fit-cover", alt="<%= trip.destination %>"/>
          <p><%= trip.destination %></p>
        </div>
      <% end %>
    </div>
  </div>

<%# Previous trips scrolling bar %>
    <h2>Previous trips</h2>
    <%# For each trip %>

<%# Documents scroll menu %>
  <h2>Your documents</h2>
  <%# For each document %>
  <div class="row">
    <div class="scrollmenu">
      <% @documents.each do |document| %>
        <div class="profile-doc-card">
            <% if document.file.attached? %>
              <%# <%= cl_file_tag @document.file.key%>
              <p><%= document.name %></p>
            <% else %>
              <p><%= document.name %></p>
            <% end %>
        </div>
     <% end %>
    </div>
  </div>
  <%# Add document form %>
  <%= simple_form_for(@document) do |f| %>
    <%= f.input :name, label: "Name of file" %>
    <%= f.input :file, as: :file, label: "Attach new document" %>
    <%= f.button :submit, "Add document", class: 'btn-primary' %>
  <% end %>



</div>

<%= render "navbarhome" %>
