<div class= "container">
<%# Profile banner %>
  <div class="profile-banner">
    <div class="profile-banner-card">
      <% if @user.image.attached? %>
        <%= cl_image_tag @user.image.key%>
      <% else %>
        <h5><%= link_to "Upload image", edit_user_registration_path %></h5>
      <% end %>
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    </div>
  </div>

  <%# Friends scroll menu %>
  <h2>Friends</h2>
  <%# For each friend %>
  <div class="row">
    <div class="scrollmenu">
      <% @users.each do |user| %>
        <div class="profile-friend-card">
          <% if user.image.attached? %>
            <%= cl_image_tag @user.image.key%>
          <% else %>
            <p><%= user.first_name %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<%# Upcoming trips scroll menu %>
  <h2>Upcoming trips</h2>
  <%# For each trip %>
  <div class="row">
    <div class="scrollmenu">
      <% @trips.each do |trip| %>
        <div class="profile-trip-card">
          <img src="https://source.unsplash.com/random/?travel", class="object-fit-cover", alt="<%= trip.destination %>"/>
          <p><%= trip.destination %></p>
          <%# private boolean? %>
          <%# <a href="<%= trip_path(trip) %>
        </div>
      <% end %>
    </div>
  </div>

<%# Documents scroll menu %>
  <h2>Your documents</h2>
  <%# For each document %>
  <div class="row">
    <div class="scrollmenu">
      <% @documents.each do |document| %>
        <div class="card">
          <div class="col-2">
            <p><%= document.name %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%# Add document form %>
  <%= simple_form_for(@document) do |f| %>
    <%= f.input :name, label: "Name of file" %>
    <%= f.input :file, as: :file, label: "Attach your file" %>
    <%= f.button :submit, "Add document", class: 'btn-primary' %>
  <% end %>

<%# Previous trips scrolling bar %>
    <h2>Previous trips</h2>
    <%# For each trip %>

</div>

<%= render "navbarhome" %>
