<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Paid By</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.name %></td>
        <td><%= number_to_currency(expense.amount) %></td>
        <td><%= expense.category %></td>
        <td><%= expense.user.first_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>

    <% @user_balances.keys.each do |user_id| %>
      <tr>
        <td>
          <%= user_name(user_id) %>
        </td>
        <td class="<%= @user_balances[user_id] >= 0 ? 'positive' : 'negative' %>">
          <%= number_to_currency(@user_balances[user_id]) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
