<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Paid By</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.name %></td>
        <td><%= number_to_currency(expense.amount) %></td>
        <td><%= expense.category %></td>
        <td><%= expense.user.first_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Owes</th>
      <th>Owed By</th>
    </tr>
  </thead>
  <tbody>

  <% @user_balances.each do |user_id, balance| %>
    <tr>
      <td><%= User.find(user_id).first_name %></td>
      <td class="<%= balance[:owes] >= 0 ? 'positive' : 'negative' %>">
        <%= number_to_currency(balance[:owes]) %>
      </td>
      <td class="<%= balance[:owed_by] >= 0 ? 'positive' : 'negative' %>">
        <%= number_to_currency(balance[:owed_by]) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
