<div class='container'>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Paid By</th>
      </tr>
    </thead>
    <tbody>
      <% @expenses.each do |expense| %>
        <tr>
          <td><%= expense.name %></td>
          <td><%= number_to_currency(expense.amount) %></td>
          <td><%= expense.category %></td>
          <td><%= expense.user.first_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
 <%# unless trip.users.count == 1 %>
</div>

<% @expenses.each do |expense| %>
  <!-- Modal correspondiente al expense actual -->
  <div class="modal fade" id="modal-activity" tabindex="-1" aria-labelledby="modal-activity-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-activity-label">Detalles del Expense</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th>User</th>
                <th>Balance</th>
              </tr>
            </thead>
            <tbody>
              <% @user_balances.each do |user_id, balance| %>
                <tr>
                  <td><%= User.find(user_id).first_name %></td>
                  <td class="<%= balance >= 0 ? 'positive' : 'negative' %>">
                  <%= number_to_currency(balance) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <table class="table">
            <thead>
              <tr>
                <th>Owes</th>
                <th>To</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <% @user_balances.each do |debtor_id, balance| %>
                <% if balance < 0 %>
                  <% @user_balances.each do |creditor_id, creditor_balance| %>
                    <% if creditor_balance > 0 && debtor_id != creditor_id %>
                      <tr>
                        <td><%= User.find(debtor_id).first_name %></td>
                        <td><%= User.find(creditor_id).first_name %></td>
                        <td><%= number_to_currency([balance.abs, creditor_balance].min) %></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
