<div class='expenses'>
  <div class='expense-title'>
    <p>Category</p>
    <p>Expense</p>
    <p>User</p>
    <p>Amount</p>
  </div>
  <% @expenses.each do |expense| %>
    <div class='expense-card'>
      <%# add if statement for icon to match category %>
      <i class="fas fa-home"></i>
      <div class='expense-card-info'>
        <div class='expense-card-info-name'>
          <%= expense.name %>
        </div>
        <div class='expense-card-info-date'>
          <span class="date"><%= expense.created_at.strftime("%d/%m/%Y") %></span>
        </div>
      </div>
      <div class='expense-card-user'>
        <% if expense.user.image.attached? %>
        <div class="rounded-circle; height: 25px;">
          <%= cl_image_tag expense.user.image.key%>
        </div>
        <% else %>
        <% initial = expense.user.first_name.split ("") %>
        <div class="trip-banner-card-users-circle">
          <span class="trip-banner-card-users-initials"><%= initial[0] %></span>
        </div>
        <% end %>
      </div>
      <div class="currency-expense">
      <%= number_to_currency(expense.amount) %>
      </div>
    </div>
  <% end %>
</div>

<% @expenses.each do |expense| %>
  <div class="modal fade" id="modal-activity" tabindex="-1" aria-labelledby="modal-activity-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-activity-label">Balance Sheet Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="balance-expenses">
            <div class="header">
              <p>User</p>
              <p>Balance</p>
            </div>
            <div>
              <% @user_balances.each do |user_id, balance| %>
                <div class="user-balance">
                  <div class="user-name"><%= User.find(user_id).first_name %></div>
                  <div class="balance <%= balance >= 0 ? 'positive' : 'negative' %>">
                    <%= number_to_currency(balance) %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="form-btn" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
