<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>New Expense</h1>
    </div>
    <%= simple_form_for [@trip, @expense] do |f| %>

      <%= f.input :name, class: "form-control" %>


      <%= f.input :amount, class: "form-control" %>


      <%= f.input :category, class: "form-control" %>

      <%= f.input :user_id, collection: User.all, label_method: :first_name %>

      <%= f.association :users,
                        as: :check_boxes,
                        collection: User.all,
                        input_html: { multiple: true},
                        label_method: :first_name %>

    <div class="form-group" style="margin-top: 20px;">
      <%= f.button :submit, "Create Expense", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>

<%= render "navbar" %>
