<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>New Expense</h1>
    </div>
    <%= simple_form_for [@trip, @expense] do |f| %>

      <%= f.input :name, class: "form-control" %>


      <%= f.input :amount, class: "form-control" %>


    <div class="select-div">
      <%= f.input :category, collection: ["Transportation", "Shopping", "Entertainment", "Food", "Accomodation", "Others"], as: :radio_buttons %>
    </div>



      <%= f.input :user_id,
                  collection: @trip.users,
                  label: 'Paid By',
                  label_method: :first_name %>

      <%= f.association :users,
                        as: :check_boxes,
                        collection: @trip.users,
                        label: 'Paid For',
                        input_html: { multiple: true},
                        label_method: :first_name %>

    <div class="form-group" style="margin-top: 20px;">
      <%= f.button :submit, "Create Expense", class: "form-btn" %>
    </div>
    <% end %>
  </div>
</div>

<%= render "navbar" %>
