<h1>New Expense</h1>

<%= simple_form_for [@trip, @expense] do |f| %>
  <%= f.input :activity %>
  <%= f.input :amount %>
  <%= f.input :category %>
  <%= f.input :paid_by %>
  <%= f.input :paid_for %>

  <%= f.button :submit, "Create Expense" %>
<% end %>

<%= link_to "Back to Expenses", expenses_path %>
