<h1>New Expense</h1>

<%= simple_form_for [@user_trip, Expense.new] do |f| %>
  <%= f.input :name %>
  <%= f.input :amount %>

  <%= f.button :submit, "Create Expense" %>
<% end %>

<%= link_to "Back to Expenses", expenses_path %>
