
<div class="trip-banner">
  <img src="https://source.unsplash.com/random/?<%= @trip.destination %>", alt="<%= @trip.destination %>" width= "375px"/>
  <div class="trip-banner-card">
    <h1><%= @trip.destination %></h1>
    <p><%= @trip.start_date.strftime("%e/%m/%y") %> ~ <%= @trip.end_date.strftime("%e/%m/%y") %></p>
    <p>Total Expenses: <%= number_to_currency(@expenses.sum(:amount)) %></p>
    <button type="button" data-bs-toggle="modal" data-bs-target="#modal-activity">
      <i class="fa-solid fa-comments-dollar"></i>
    </button>
    <div class="trip-banner-card-icons">

      <div class="trip-banner-card-users">
        <i class="fa-solid fa-circle" style="color: #727CD7;"></i>
        <i class="fa-solid fa-circle" style="color: #4C49B0;"></i>
        <i class="fa-solid fa-circle" style="color: #3617A4;"></i>
      </div>
    </div>
  </div>
</div>
